.body {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

html,
body {
  background-color: whitesmoke;
}

.postImage > img {
  max-width: 700px;
  max-height: 700px;
}

.header {
  text-align: center;
  background-color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}

.post {
  background-color: white;
  max-width: 700px;
  display: block;
  margin-top: 50px;
  padding: 3px;
  margin-left: 27%;
}

.postHeader{
    display: inline-block;
    width: 100%;
}

.postTitle{
    float: left;
    
    padding: 5px;
    margin-left: 50px;
    font-weight: bolder;
}

.postDate{
    
    float: right;
    width: 50px;
    padding: 5px;
    margin-right: 50px;
    margin-top: 20px;
    font-weight: lighter;
    color: gray;
}

.postDescription{
  margin-left: 48px;
  margin-right: 40px;
}
